P1771_Integrated Postsecondary Education Data System ID.txt

In [ ]:
from datasketch import MinHash
from collections import defaultdict
import os, pickle

#input IDs, return MinHash Object
def minhash_IDs(IDs):
	m = MinHash()
	for ID in IDs:
		m.update(ID.encode('utf-8'))
	return m

def compare_sim():

if __name__ == "__main__":
	# iterate through this array, do minhash
	filenames = os.listdir("./results_3.0")
	minhash_list = []
	rank_list = []
	for idx,filename in enumerate(filenames):
		cur_file = open('./results_3.0/' + filename,'r')
		try:
			cur_ids = cur_file.read().split('\n')
			cur_file.close()
			minhash_list.append((minhash_IDs(cur_ids),filename))
		except:
			print(filename)
		cur_file.close()
		if(idx>300):
			break

	# provide a filename, then compare jaccard similarity with all of the files
	#filename = 'P5942_Protected objects Ostbelgien ID.txt'
	#cur_file = open('./results_2.0/' + filename,'r')
	#cur_file = open('/Users/tong/Desktop/missing_results/P846_Global Biodiversity Information Facility ID.txt','r')
	cur_file = open('./test.txt','r')
	cur_ids = cur_file.read().split('\n')
	cur_m = minhash_IDs(cur_ids)
	cur_file.close()
	for mHash, name in minhash_list:
		similarity = cur_m.jaccard(mHash)
		rank_list.append((similarity, name))
	rank_list.sort(reverse = True)
	for sim, fname in rank_list[:5]:
		print('similarity : '+str(sim)+' name: '+fname)

    


''' references

https://ekzhu.github.io/datasketch/minhash.html
https://blog.csdn.net/lsq2902101015/article/details/51305825
https://python3-cookbook.readthedocs.io/zh_CN/latest/c05/p21_serializing_python_objects.html
https://blog.csdn.net/Lycoridiata/article/details/78536768
'''
'''store_minhash(minhash_list,'minhash_list.pkl')
f = open('minhash_list.pkl', 'rb')
minhash_list2 = pickle.loads(f)
print(minhash_list2)
f.close()'''
# store minhash list into pickle
# def store_minhash(data, file_name):
# 	f = open(file_name, "wb")
# 	pickle.dump(data, f)

.DS_Store

## useful files:
### seed-problems/college-debt/OPEID.csv
### seed-problems/college-debt/peps304.xlsx
### seed-problems/housing-burden/census/P1_County_1yr_interim.xlsx
### seed-problems/poverty-estimation/data_gov⁩/Education.xls
### seed-problems/poverty-estimation/data_gov⁩/PopulationEstimates.xls
### seed-problems/poverty-estimation/data_gov⁩/PovertyEstimates.xls
### seed-problems/poverty-estimation/data_gov⁩/Unemployment.xls

In [21]:
import pandas as pd
from datasketch import MinHash

In [11]:
data = pd.read_csv('seed-problems/college-debt/OPEID.csv',encoding="utf-8")
data.head()

,OPEID8,Name,Address,City,State,Zip,IPED6,Web,OPEID6
0,00100200,Alabama A & M University,4900 Meridian St,Normal,AL,35762,100654.0,www.aamu.edu/,1002.0
1,00100300,Faulkner University,5345 Atlanta Hwy,Montgomery,AL,36109-3378,101189.0,www.faulkner.edu,1003.0
2,00100400,University of Montevallo,Station 6001,Montevallo,AL,35115,101709.0,www.montevallo.edu,1004.0
3,00100500,Alabama State University,915 S Jackson Street,Montgomery,AL,36104,100724.0,www.alasu.edu,1005.0
4,00100700,Central Alabama Community College,1675 Cherokee Road,Alexander City,AL,35010,100760.0,www.cacc.edu,1007.0

In [20]:
col_names = data.columns.tolist()
for col_name in col_names:
    data[col_name].head()
    cur_m = MinHash()

In [22]:
from datasketch import MinHash
import pickle

def minhash_IDs(IDs):
	m = MinHash()
	for ID in IDs:
		m.update(ID.encode('utf-8'))
	return m
test_list = ['1','2','3','4','5','6','7','8']
minhash = minhash_IDs(test_list)
f = open("test_list.pkl", "wb")
#data = pickle.dump(minhash,f)
data = pickle.dumps([minhash,minhash,minhash])
print(type(data))
f_write = open('test_list', 'wb+')
f_write.write(data)
f_write.close()

<class 'bytes'>

In [19]:
a=pickle.loads(data)
print(a)

[<datasketch.minhash.MinHash object at 0x150c74e278>, <datasketch.minhash.MinHash object at 0x150c74e278>, <datasketch.minhash.MinHash object at 0x150c74e278>]

In [30]:
f2 = open("test_list", "rb")
#print(f2)
a = pickle.loads(f2.read())
print(a)
print([minhash,minhash,minhash])

[<datasketch.minhash.MinHash object at 0x150c77fa20>, <datasketch.minhash.MinHash object at 0x150c77fa20>, <datasketch.minhash.MinHash object at 0x150c77fa20>]
[<datasketch.minhash.MinHash object at 0x150c74c390>, <datasketch.minhash.MinHash object at 0x150c74c390>, <datasketch.minhash.MinHash object at 0x150c74c390>]

In [32]:
import pickle
def save_minhash_array(minhash_array):
    f = open("test_list.pkl", "wb")
    data = pickle.dumps(minhash_array)
    f_write.close()

1.0